body {
  font-family: helvetica, arial, sans-serif;
  max-width: 60rem;
  margin: 1rem auto;
}

.left {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.right {
  display: inline-block;
  width: 49%;
}

form { padding: 4px; }

fieldset {
  border: none;
}

label, fieldset {
  display: block;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

td, th {
  text-align: left;
  padding: 4px 12px 4px 4px;
}

.number { text-align: right; }

svg {
  display: block;
  width: 100%;
  shape-rendering: optimizeSpeed;
}

.country {
  fill: #eee;
  stroke: #aaa;
  stroke-width: 1px;
}

.river {
  fill: none;
  stroke: #88f;
}

.lake {
  fill: #88f;
}
