body {
  font-family: helvetica, arial, sans-serif;
  max-width: 60rem;
  margin: 1rem auto;
}

.left {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.right {
  display: inline-block;
  width: 49%;
}

fieldset {
  border: none;
}

label, fieldset {
  display: block;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

td, th {
  text-align: left;
  padding: 4px 16px 4px 0;
}

tfoot td {
  font-size: 14px;
  padding-top: 20px;
  color: #666;
}

.number { text-align: right; }

svg {
  display: block;
  width: 100%;
}

.country { fill: #eee; stroke: #fff; stroke-width: 1px; }
.river { fill: none; stroke: #88f; }
.lake { fill: #88f; }
.globe { fill: #78a; }
